@charset "utf-8";
/* CSS Document */

@import url("reset.css");
body {
	background-color:#ADADAD;
}

.span-728 {
  width:728px;
}
site.css (line 37)
.pull-left {
  float:left;
}

#HEADER {	
	margin-left:215px;
  margin-right:auto;
	width:900px;
	height:250px;	
}
#HEADER h1 {
	text-indent:-9999px;
}
#WRAPPER {
	margin:0 auto;
	width:900px;
	padding:0 10px;
	background-image:url(../img/center.jpg);
	overflow:auto;
}
#CONTENT {
	margin-left:170px;
	_height:1%;
	padding-top:15px;
	padding-bottom:25px;
}
#CONTENT .BOX {
	width:650px;
	margin:0 auto;
	border:1px dotted #CCCCCC;
	margin-bottom:10px;
}
#CONTENT .BOX h2 {
	font-size:12px;
	font-family:Arial;
	background-color:#CCCCCC;
	color:#000000;
	text-indent:10px;
	line-height:30px;
	letter-spacing:1px;
}
#CONTENT .BOX p {
	font-size:12px;
	font-family:Arial;
	line-height:18px;
	padding:10px;
	letter-spacing:1px;
}
#SIDE {
	float:left;
	width:170px;
	padding-top:15px;
}
#SIDE p {
	font-size:12px;
	font-family:Arial;
	text-align:center;
	padding:10px 20px;
}
#SIDE a {
	text-decoration:none;
	color:#006699;
}
#SIDE a:hover {
	color:#FF6600;
}
#FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:920px;
	height:121px;
	background-image:url(../img/down.jpg);
}
#FOOTER h2 {
	font-size:11px;
	font-family:Arial;
	padding-left:20px;
	padding-top:5px;
	font-weight:normal;
	letter-spacing:1px;
}
