@CHARSET "UTF-8";div#neko-alert-back{display:none;position:absolute;top:0;left:0;width:0;height:0;filter:alpha(opacity=60);Opacity:.6;z-index:12;}
div.neko-alert-frame{position:absolute;top:0;left:0;z-index:13;}
div#neko-alert-main{display:none;position:absolute;top:0;left:0;width:0;height:0;background-color:#FFF;background-repeat:repeat-y;background-position:right top;z-index:13;}
img.neko-alert-mark{position:absolute;margin:4px;z-index:14;}
div#neko-alert-close{z-index:14;}
div#neko-alert-ok-button{z-index:14;}
div#neko-alert-ng-button{z-index:14;}
div#neko-alert-confirm-button{z-index:14;}
div.neko-alert-title{position:absolute;left:0;height:26px;font-weight:bold;font-size:14pt;text-align:center;line-height:26px;z-index:14;}
span.neko-alert-text{position:absolute;left:16px;top:40px;width:0;height:0;text-align:left;font-size:12pt;z-index:14;}